.page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
	transform-style: preserve-3d;
	transition: 1s;
}
.page:nth-child(1) {
	z-index: 2;
	transform-origin: left;
}
.page:nth-child(3) {
	z-index: 1;
	transform-origin: right;
}
.page:nth-child(1).page-flipped {
	transform: rotateY(-130deg);
}
.page:nth-child(3).page-flipped {
	transform: rotateY(130deg);
}
.page-face {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #13275a;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.page-face:nth-child(2) {
	transform: rotateY(180deg);
}
.page:nth-child(1) .page-face:nth-child(2),
.page:nth-child(2) .page-face:nth-child(1),
.page:nth-child(3) .page-face:nth-child(2) {
	background: #fff;
}
.cover-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cover-page::before {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	border: 1px solid white;
}
.menu-list {
	transform-style: preserve-3d; /* 마우스 포인트 인식이 제대로 되도록 추가 */
}














