@keyframes start-ani {
	0% {
		transform: translate(-100%, 100%) rotate(-540deg);
	}
	100% {
		transform: translate(0, 0) rotate(0);
	}
}

html {
	font-size: 14px;
}
body {
	overflow: hidden;
	background-size: auto 130px;
	perspective: 1500px;
}
.hand {
	position: absolute;
	left: 70%;
	top: 70%;
	z-index: 10;
	width: 400px;
}
.hand img {
	transform-origin: left top;
	transition: 1s;
}
.zoom-in .hand img {
	transform: scale(2);
}
.leaflet {
	/* position: absolute; */
	/* left: 0; */
	/* right: 0; */
	/* top: 0; */
	/* bottom: 0; */
	/* width: 30vw; */
	height: 100%;
	/* height: 30vw; */
	margin: auto;
	transform-style: preserve-3d;
	transition: 1s;
	cursor: pointer;
	animation: start-ani 1s forwards;
}
.page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 3rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
	transform-style: preserve-3d;
	transition: 1s;
}
.page:nth-child(1) {
	z-index: 2;
	transform-origin: left;
}
.page:nth-child(3) {
	z-index: 1;
	transform-origin: right;
}
.page:nth-child(1).page-flipped {
	transform: rotateY(-130deg);
}
.page:nth-child(3).page-flipped {
	transform: rotateY(130deg);
}
.page-face {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #13275a;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.page-face:nth-child(2) {
	transform: rotateY(180deg);
}
.page:nth-child(1) .page-face:nth-child(2),
.page:nth-child(2) .page-face:nth-child(1),
.page:nth-child(3) .page-face:nth-child(2) {
	background: #fff;
}
.cover-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}
.cover-page::before {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	border: 1px solid white;
}
.menu-list {
	font-size: 0.7rem;
	transform-style: preserve-3d; /* 마우스 포인트 인식이 제대로 되도록 추가 */
}
.menu-item {
	display: flex;
	align-items: center;
	position: relative;
	padding: 2em;
	transition: 0.5s;
	transform-style: preserve-3d; /* 마우스 포인트 인식이 제대로 되도록 추가 */
}
.zoom-in .menu-item {
	opacity: 0;
}
.zoom-in .menu-item.current-menu {
	opacity: 1;
}
/* .back-btn {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
} */
.current-menu .back-btn {
	display: inline-block;
}
.menu-item-photo {
	width: 20%;
	padding-bottom: 20%;
	flex-shrink: 0;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.menu-item-info {
	flex: 1;
	margin-left: 1em;
}
.member-name {
	font-size: 1rem;
	font-weight: bold;
}

















